
body{
    margin: 0;
    
}



h1{
   font-family: 'Bungee Shade', cursive;
    font-size: 50pt;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    

}



html{
    background-image: url(Images/artpink.jpeg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     background-color:black;
     

}

li {
    float: left;
   font-family: 'Bungee Outline', cursive;
    color: white;
    font-size: 30pt;
    border-right: 1px solid white;
    padding-left: 16.5pt;
    padding-right: 16.5pt;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}
li a:hover {
    background-color: #111;
}